.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Estilos.css */
.cartelera {
  background-image: url("https://th.bing.com/th/id/OIP.QNwSGoTp0x_qMsQ-gU-WowHaE8?rs=1&pid=ImgDetMain");
  background-size: cover;
  padding: 200px;
}

.pelicula {
  display: inline-block;
  width: 30%;
  margin: 10px;
  background-color: rgba(192, 157, 157, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pelicula img {
  width: 120;
  height: 200;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contenido {
  padding: 10px;
}

.contenido h2 {
  margin-top: 0;
}

.contenido p {
  margin-bottom: 0;
}


